body{
    margin: 0;
    font-family: monospace;
    font-size: 1.2rem;
}

.nav-style {
    z-index:1;
    background: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
}
.nav-style div {
    font-size: 2rem;
    padding: 5px 0px;
}
.nav-style ul {
    display: block;
    display: flex;
    list-style: none;
}
.nav-style ul li{
    padding: 10px;
}
.nav-style a{
    text-decoration: none;
    color: #ffffff;
}
.nav-style a:hover{
    color: #61dafb;
}

.menu-icon-style {
    display: none;
}

.container {
    width: 85%;
    margin: 5rem auto 5rem;
}


.form-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.form-style div {
    width: 40%;
}
.form-style form {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 450px;
    min-width: 300px;
    padding: 2rem;
}
.form-style form input {
    width: 100%;
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.form-style form textarea {
    width: 100%;
}


.footer-style{
    background: #20232a;
    color: #ffffff65;
    text-align: center;
    padding: 1.5rem 0;
}


.btn-color2-style {
    font-weight: bold;
    background: #61dafb;
    border: none;
}

@media only screen and (max-width: 700px){
    
    .nav-style ul {
        display: none;
        flex-direction: column;
        list-style: none;
        align-items: flex-end;
        position: absolute;
        top: 70%;
        right: 0px;
        padding: 3px 5px;
        background: black;
    }

    .menu-icon-style {
        display: block;
        cursor: pointer;
    }

    .form-style {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .form-style div {
        width: 100%;
    }

    .form-style form {
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
        padding: 30px;
        width: 100%;
        min-width: 0px;
    }
    .form-style form textarea {
        width: 100%;
    }
}